* {
  padding: 0;
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
}
/* Common */
body {
  overflow-x: hidden;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
  margin: 0;
  padding: 0;
}
body,
input,
textarea,
select,
table {
  font-family: "SCoreDream";
  font-size: 12px;
}
li {
  list-style: none;
}
.space {
  display: inline-block;
  width: 0.28em; /* 가시적인 공백 너비 조정 */
}
.sr-only {
  clip: rect(1px, 1px, 1px, 1px) !important;
  width: 1px !important;
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
}
html {
  overflow-y: scroll;
  height: 400%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
body {
  position: relative;
  /* background-color: #000; */
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
}
html,
body {
  overflow: auto;
  margin: 0;
}
/* Header */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 100;
  transition: all .5s;
  margin-top: 30px;
}
header > * {
  margin: 20px 40px;
}
header.fixed {
  border: 1px solid #000;
  border-width: 2px 0;
  transition: all .5s;
}
.sidebar a {
  color: #fff;
}
/*link_nav start*/
.progress_page {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.progress_page p {
  font-size: 20px;
  line-height: 20px;
  color: #50b048;
  font-weight: 600;
  writing-mode: vertical-rl;
  margin-bottom: 10px;
}
.progress_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}
.progress_wrap:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #50b048;
  z-index: -1;
}
.progress_wrap span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  border: 1px solid #50b048;
  background-color: #fff;
  margin: 10px auto 0;
  scale: 1;
  transition: all 0.5s;
}
.progress_wrap span.active {
  background-color: #50b048;
  scale: 1.3;
}
.link_nav .about_link span{
  background: url(/assets/images/jt/visual/01_About_link_on.png) no-repeat;
  background-position: center;
  transition: opacity .5s;
  opacity: 0;
}
.link_nav .about_link.active span{
  transition: opacity .5s;
  opacity: 1;
}
.link_nav .service_link span{
  background: url(/assets/images/jt/visual/02_Service_link_on.png) no-repeat;
  background-position: center;
  transition: opacity .5s;
  opacity: 0;
}
.link_nav .service_link.active span{
  transition: opacity .5s;
  opacity: 1;
}
.link_nav .experience_link span{
  background: url(/assets/images/jt/visual/04_Expirence_link_on.png) no-repeat;
  background-position: center;
  transition: opacity .5s;
  opacity: 0;
}
.link_nav .experience_link.active span{
  transition: opacity .5s;
  opacity: 1;
}
.link_nav .recruit_link span{
  background: url(/assets/images/jt/visual/05_Recruit_link_on.png) no-repeat;
  background-position: center;
  transition: opacity .5s;
  opacity: 0;
}
.link_nav .recruit_link.active span{
  transition: opacity .5s;
  opacity: 1;
}
.link_nav .contact_link span{
  background: url(/assets/images/jt/visual/06_Contact_link_on.png) no-repeat;
  background-position: center;
  transition: opacity .5s;
  opacity: 0;
}
.link_nav .contact_link.active span{
  transition: opacity .5s;
  opacity: 1;
}
/* .custom-cursor.custom_cursor_hover {
  width: 300px;
  height: 300px;
  border-radius: 150px;
} */
.custom-cursor-icon {
  background-image: url(./assets/images/visual/durmmy.png); /* 커서 아이콘의 이미지 경로 */
  background-size: cover;
}
/* #five .content_img {
  width: 100%;
  height: 100vh;
  background: url(./assets/images/bg/system1/07.png) no-repeat;
  background-size: cover;
  clip-path: circle(50px at var(--x) var(--y));
}
#five .content_img:hover {
	transition: all 0.3s;
  clip-path: circle(100px at var(--x) var(--y));
} */
/*커스텀 커서 끝==========*/

/***************************************************
 * Generated by SVG Artista on 6/26/2023, 12:48:09 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

.rocket {
  position: absolute;
  left: 43%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}
.cloud1,.cloud2,.cloud3,.cloud4,.cloud5,.cloud6 {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: -1;
}

#creative_group {
  display: none;
}
#creative_group .cls-1 {
  fill: none;
  fill-rule: evenodd;
  stroke: #231815;
  stroke-miterlimit: 10;
  stroke-width: 8px;
}
.ball {
  width: 22px;
  height: 20px;
  opacity: 0;
}
.ball2_green {
  opacity: 0;
}
.text_box {
  display: flex;
  align-items: center;
  margin-left: -25%;
}
.about_svg1 {
  width: 775px;
  height: 180px;
}
.info_tit {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-size: 115px;
  font-weight: 700;
  margin-top: -19px;
  line-height: 116px;
  white-space: nowrap;
  color: #000;
  opacity: 1;
  margin-left: 60px;
}
.info_tit img {
  width: 100%;
  margin-left: -1125px;
  margin-top: 17px;
}
.info_svg {
  display: inline-block;
  width: 30%;
  /* margin-right: 123px; */
}
.info_svg text {
  font-size: 146px;
}
.line {
  position: absolute;
  left: -70px;
  top: 170px;
  height: 0;
  width: 0px;
  height: 40px;
  background: url(./assets/images/visual/bg_line.png) no-repeat;
  z-index: 30;
}
.hand {
  position: absolute;
  left: -40px;
  top: 523px;
  width: 466px;
  height: 608px;
  z-index: 1;
  opacity: 0;
  background: url(../assets/images/jt/hand.png) no-repeat;
}
#About{
  position: relative;
}
#About .text_box2 .dot_icon {
  position: absolute;
  left: -6px;
  top: -16px;
  width: 75px;
  height: 35px;
  display: none;
}

#About .text_box2 .title {
  display: flex;
  margin-bottom: 50px;
}
#About .text_box2 .text_icon {
  width: 300px;
  height: 100px;
  opacity: 0;
  display: none;
}
#About .text_box2 .title p {
  margin-left: 20px;
  font-size: 71px;
  opacity: 0;
}
#About .sub_tit {
  font-size: 24px;
  color: #c8c8c8;
  font-weight: 200;
  text-align: center;
  opacity: 0;
}
#About .sub_tit.center {
  align-items: center;
}
#About .sub_tit.right {
  align-items: end;
}
#About .sub_tit.right p {
  text-align: right;
}
#About .sub_tit p {
  color: #eeeeee;
  font-size: 20px;
  line-height: 34px;
  font-weight: 300;
  margin: 0;
}
#About .sub_tit strong {
  font-weight: 200;
  font-size: 50px;
  color: #fff;
  display: block;
  text-align: left;
  margin-bottom: 25px;
}
#Service {
}
#Service .svg_ux {
  position: absolute;
  left: -50px;
  top: 0;
  display: none;
}
#Service .svg_platform {
  position: absolute;
  left: 150px;
  top: 0;
  width: 700px;
  display: none;
}
#Service .svg_mobile {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  display: none;
}
#Service .svg_service {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: none;
}

/*service common*/
#Service .title {
  position: relative;
  font-weight: 600;
  font-size: 150px;
  line-height: 150px;
  margin-bottom: 30px;
}
#Service .text_box1 img {
  position: absolute;
  left: -53px;
  top: -10px;
  content: "";
  width: 24px;
  height: 18px;
  background: url(./assets/images/visual/service_title_number01.png);
  opacity: 0;
}
#Service .text_box2 img {
  position: absolute;
  left: 150px;
  top: -10px;
  content: "";
  width: 24px;
  height: 18px;
  background: url(./assets/images/visual/service_title_number02.png);
  opacity: 0;
}
#Service .text_box3 img {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 24px;
  height: 18px;
  background: url(./assets/images/visual/service_title_number03.png);
  opacity: 0;
}
#Service .text_box4 img {
  position: absolute;
  left: 180px;
  top: -20px;
  content: "";
  width: 24px;
  height: 18px;
  background: url(./assets/images/visual/service_title_number04.png);
  opacity: 0;
}
#Service .sub_title_box {
  width: 900px;
}
#Service .sub_title {
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
}
#Service .sub_text {
  /* font-weight: 100; */
  font-weight: 300;
  font-size: 20px;
}

/*service common*/

#Service .text_box1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
#Service .text_box1 .title p {
  padding-left: 190px;
}
#Service .text_box1 .sub_title_box {
  padding-left: 150px;
  text-align: left;
}
#Service .text_box1 .sub_title {
  opacity: 0;
}
#Service .text_box1 .sub_text {
  opacity: 0;
}
#Service .text_box2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
#Service .text_box2 .title p {
  padding: 150px 150px 0 0;
}
#Service .text_box2 .sub_title_box {
  text-align: right;
}
#Service .text_box2 .sub_title {
  opacity: 0;
}
#Service .text_box2 .sub_text {
  opacity: 0;
}
#Service .text_box3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
#Service .text_box3 .title p {
  padding: 170px 0 0 150px;
}
#Service .text_box3 .sub_title_box {
  text-align: left;
}
#Service .text_box3 .sub_title {
  opacity: 0;
}
#Service .text_box3 .sub_text {
  opacity: 0;
}
#Service .text_box4 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
#Service .text_box4 .title p {
  padding: 150px 0 0 0;
}
#Service .text_box4 .sub_title_box {
  text-align: center;
}
#Service .text_box4 .sub_title {
  opacity: 0;
}
#Service .text_box4 .sub_text {
  opacity: 0;
}
#Experience {
  background-color: #50b048;
}
/* Recruit */
#Recruit {
  background-color: #fff;
}
#Recruit .panel:nth-child(1) {
  color: #222;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box {
  display: flex;
  flex-direction: column;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .title p:nth-child(3) {
  position: relative;
  padding-left: 280px;
  margin-bottom: 16px;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .title span {
  position: absolute;
  left: -110px;
  top: 0;
  width: 367px;
  height: 111px;
  background: url(./assets/images/visual/recruit_text_img.png) no-repeat;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .title {
  text-align: left;
  display: inline-block;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 12px;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .sub_title {
  text-align: left;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .sub_title .text {
  margin-bottom: 30px;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .sub_title > a {
  position: relative;
  display: block;
  width: 250px;
  height: 54px;
  border-radius: 2px;
  text-align: left;
  line-height: 54px;
  border: 1px solid #000;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 0 0 0 16px;
  font-size: 16px;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .sub_title a::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background: url(../images/common/btn_recruit_arrow.png) no-repeat;
}
#Recruit .tab_menu .tabnav > li a > span {
  display: block;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 30px;
}
#Recruit .tab_menu .tabnav .btn {
  display: block;
}
#Recruit .tab_menu .tabnav .cont {
  position: absolute;
  top: 150px;
  left: 0;
  color: #000;
  text-align: center;
  width: 100%;
  height: 300px;
}
.accordionTitle {
  border: 1px solid #ddd;
  border-width: 1px 0 0 0;
}

/* Text Content */
.accordion .item .text {
  background-color: #eaeaea;
  border-top: 1px solid #ddd;
}
/* Text Content - Class for JS to hide and show */
#Contact {
  background-color: #fff;
  overflow: hidden;
}
#Contact .panel {
  color: #000;
}
.contact_inquiry {
  bottom: -36px;
  border-radius: 100px 0 0 0;
  background-color: #f0f0f0;
  background-position: right bottom;
}
.contact_inquiry .contact_title {
  margin-top: -38px;
}
.map-api {
  z-index: 0;
  border-radius: 0 100px 0 0;
  background: url(../homepage_system/assets/images/bg/system1/contact_map_img.png)
    no-repeat;
  background-size: cover;
}
.input_checkbox {
  font-size: 16px;
  padding: 10px 0 10px 160px;
  margin-bottom: 35px;
  display: flex;
}
.grid_wrap {
  width: 880px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(48px, auto);
  padding-left: 60px;
}

.input_box {
  display: flex;
}
.input_box button {
  width: 110px;
  margin-left: 10px;
  background-color: #fff;
  font-size: 16px;
  font-family: "SCoreDream";
  border: 1px solid #000;
  border-radius: 4px;
}
.input_box p {
  flex-shrink: 0;
  width: 100px;
  text-align: left;
  line-height: 50px;
  font-weight: 500;
}
.input_text {
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid #dadada;
}
.box1 {
  grid-column: 1/2;
  grid-row: 1;
}
.box2 {
  grid-column: 2/2;
  grid-row: 1;
}
.box3 {
  grid-column: 1/2;
  grid-row: 2;
}
.box4 {
  grid-column: 2/3;
  grid-row: 2;
}
.box5 {
  grid-column: 1/3;
  grid-row: 3;
}
.box6 {
  grid-column: 1/3;
  grid-row: 4/8;
}
.box7 {
  grid-column: 1/3;
}
footer {
  width: 100vw;
  height: 200px;
  background-color: #454545;
}
.footer_wrap {
  padding: 85px 5% 0;
  display: flex;
}
.footer_logo {
  width: 200px;
  height: 45px;
  background: url(./assets/images/logo_white_system.png);
}
.adress {
  padding-top: 15px;
  font-weight: 100;
  font-size: 15px;
  color: #fff;
}

/*07-12 추가*/

.marquee__part {
  font-size: 20px;
  line-height: 100px;
  padding-right: 40px;
  flex-shrink: 0;
}

.marquee {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 37px;
  left: 0;
  border: 2px solid #000;
  border-width: 2px 0;
  font-weight: 400;
  overflow: hidden;
}

.marquee__inner {  
  -webkit-font-smoothing: antialiased;
    width: fit-content;
    display: flex;
    flex: auto;
    flex-direction: row;
}
/* Top Button */
.top_btn {
  position: fixed;
  bottom: 8%;
  right: 3%;
  z-index: 300;
}
.top_btn a {
  display: block;
  position: relative;
  width: 60px;
  /* height: 100%; */
  text-align: center;
  color: #000;
  text-transform: uppercase;
}
.top_btn a:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url(/assets/images/common/topbtn.png) no-repeat;
  background-size: 105%;
  background-position: 0 0;
}
a#topBtn {
  position: fixed;
  right: 2%;
  bottom: 3%;
  display: none;
  z-index: 9999;
}
/*07-25 modal 추가 */
.modal-layer {
  display: none;
  /* background: rgba(0,0,0,0.7); */
  background: url(../assets/images/common/modal_bg.jpg) no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: auto;
}

.modal-dimm {
  inset: 0;
  display: flex;
  margin: auto;
  z-index: 3;
}

.modal {
  position: relative;
  
  top: 100px;
  display: flex;
  max-width: 1040px;
  flex-direction: column;  
  aspect-ratio: 6/4;
  margin: auto;
  margin-bottom: 150px;
  background-color: #ffffff;
}
.topCont {
  min-height: 580px;
  display: flex;
}
.topCont .txtCont {
  width: 350px;
  height: 100%;
  padding: 75px 30px 0;
}
.topCont .txtCont dl {
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
  margin-top: 24px;
}
.topCont .txtCont dl dt {  
  float: left;
  width: 70px;
  text-align: left;
  color: #333;
  font-weight: 500;
  line-height: 15px;  
  font-size: 14px;
}
.topCont .txtCont dl dd {
  color: #999;
  line-height: 15px;
  font-size: 13px;
  margin-bottom: 20px;
}
.topCont .txtCont > .overview {
  padding: 40px 0;
}
.topCont .txtCont > .overview h4 {
  background: #333;
  color: #fff;
  font-weight: 300;
  letter-spacing: 6px;
  padding: 2px 10px 4px;
  font-size: 16px;
  line-height: 16px;
}
.topCont .txtCont > .overview p {
  font-size: 13.5px;
  color: #666;
  text-align: left;
  padding: 15px 0;
  word-break: keep-all;  
  line-height: 26px;
}
.topCont .imgCont {
  width: calc(100% - 350px);
  max-width: 670px;
  height: 100%;
  overflow: hidden;
}
.topCont .txtCont h3 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  color: #333;
  word-break: keep-all;
}
.bottomCont img {
  max-width: 100%;
}
.modal-show{
}

.modal-hide {
  position: absolute;
  right: 0;
  top: -50px;
  font-size: 20px;
  padding: 4px 10px;
  border-radius: 8px;
  cursor: pointer;
}
/*07-25 modal 추가*/
