html,body {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
p {
  margin: 0;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
  font-family: 'SCoreDream';
  position: relative;
}
.bg-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../images/common/img_intro.jpg) no-repeat;
  animation: image 5s linear infinite alternate;
  background-size: cover;
  /* transition:transform 300ms ease; */
}
.links:before,
.links:after {
  content: '';
  width: 16%;
  height: 1px;
  background: #fff;
  display: inline-block;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.links:before {
  left: 0;
}
.links:after {
  right: 0;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.links a {
  width: 800px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-family: 'SCoreDream';
  padding: 6px 0;
  padding-right: 25px;
  margin: 10px 22px;
  transition: all 0.2s;
  position: relative;
  font-weight: 300;
}
.links a:hover,
.links a:active {
  border-bottom: 1px solid #fff;
}

.links a:before {
  content: '';
  display: inline-block;
  width: 45px;
  height: 36px;
  margin-top: -10px;
  margin-right:7px;
  overflow: hidden;
  background: url(../images/common/logo_white_system.png) no-repeat;
  background-size: cover;
  vertical-align: middle;
  background-position: -4px center;
}
.links a:after {
  content: '';
  width: 10px;
  height: 17px;
  background: url(../images/common/ico_arrow_single.png) no-repeat;
  position: absolute;
  right: 0px;
  top: 13px;
  background-size: 100%;
}
.intro_header {
  color:#fff;
  font-size: 24px;
  margin-bottom: 45px;
  animation: text 1s linear;
}
.intro_header p {
  font-size: 24px;
  margin-bottom: 13px;
}
.intro_header .title {
  color:#fff;
  font-size: 70px;
  font-weight: 600;
}
.scrollDown {
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
  color:#fff;
  font-size: 14px;
  font-weight: 200;
}
.scrollDown div {
  display: inline-block;
}
.scrollDown span {
	width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
	animation: scrollDown 1s infinite;
	-webkit-animation: scrollDown 1s infinite;
  display: block;
  transform: translateY(10px);
  animation:scrollDown 3s linear infinite;
  background: #ffffff63;
}
.scrollDown span.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.scrollDown span.a2 {
  transform: translate(2px);
  animation:scrollDown 1s linear infinite;
  background: #ffffffa1;
}
.scrollDown span.a3 {
  transform: translate(2px);
  animation:scrollDown 1s linear infinite;
  background: #ffffffcf;
}
/* .scrollDown span.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
} */

/* Animation */
@keyframes image {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}
@keyframes text {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scrollDown {
  0% {
    transform: translateY(-3px);
  }
  10%, 90% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(6px);
  }
}

/* MediaQuery */
@media (max-width: 800px) {
  .intro_header {
    width: 80%;
    margin: 0 auto;
  }
}