/* Common */
* {
  padding: 0;
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
  outline: none;
}
a:hover, a:active {
  text-decoration: none;
}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
}
body{
  overflow-y: visible;
  position: relative;
  height: unset;
}
html {
  overflow-y: scroll;
  height: 400%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
body,input,textarea,select,table {
  font-family: "SCoreDream";
  font-size: 12px;
}
li {
  list-style: none;
}
.space {
  display: inline-block;
  width: 0.28em; /* 가시적인 공백 너비 조정 */
}
.sr-only {
  clip: rect(1px, 1px, 1px, 1px) !important;
  width: 1px !important;
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
}
.text_article {
  position: absolute;
  right: -14%;
  top: 90%;
  transform: translate(-50%, -50%);
  font-size: 300px;
  font-weight: 700;
  -webkit-text-stroke: 2px white;
  color: transparent;
  box-sizing: border-box;
  z-index: 1;
  opacity: 0.5;
  pointer-events: none;
}
/* Header */
header {
  background:transparent;
  z-index: 100;
}
header.fixed {
}
header.fixed a {
  color:#000;
  z-index: 1001;
}
header.fixed .logo {
  z-index: 1001;
}
header > * {
  margin: 20px 40px;
}
header a {
  display: inline-block;
  font-weight: normal;
  font-size: 19px;
  color:#fff;
}
header .logo_img {
  width: 45px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  margin-top: -11px;
  vertical-align: middle;
}
header .logo_img img {
  height: 100%;
  margin-right: -147px;
  display: inline-block;
}
header nav {
  margin: 30px 40px;
}
header.fixed nav label[for=trigger] span {
  background-color: #000;
}
.sidebar {
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100%;
  left:0;
  transition: 0.3s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}
.sidebar a {
  color:#fff;
}
.sidebar li {
  overflow: hidden;
}
.sidebar li > a {
  display: inline-block;
  margin: 15px;
  text-align: left;
  color:#fff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
}
.sidebar:hover {}
.sidebar .depth1 li > a {
  width: 172px;
}
.sidebar .depth1 li > a:hover {
  color:gray;
}
.sidebar .depth2 {
  vertical-align: middle;
  display: inline-block;
  margin-top: -28px;
}
.sidebar .depth2 a {
  margin-right: 30px;
  color: #b7b7b7;
  font-size: 18px;
}
.sidebar .depth2 a:hover {
  color:#fff;
}
.sidefoot {
  display: flex;
  align-self: self-end;
  margin-bottom: 7%;
  flex-direction: column;
  color:#fff;
}
.sidefoot .logo {
    margin-bottom: 15px;
}
.sidefoot .logo span {
  font-size: 18px;
  margin-right: 12px;
}
.sidefoot .logo span:last-child {
  margin-right: 0;
}
.sidefoot .logo span:before {
  content: '';
  width: 30px;
  height: 20px;
  margin-right: 7px;
  display: inline-block;  
  background: url(./assets/images/visual/logo_black.png) no-repeat;
  background-size: cover;
}
.sidefoot .logo span:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 14px;
  background: #fff;
  margin-left: 15px;
}
.sidefoot .logo span:last-child:after {
  display: none;
}
.sidefoot address {
    font-style: normal;
    font-size: 16px;
    margin-bottom: 35px;
}
.sidefoot address span {margin-right: 33px;}
.sidefoot address div {
  margin: 3px 0;
}
.sidefoot .btn {}
.sidefoot .btn a {
  display: inline-block;
  border: 1px solid #fff;
  font-size: 18px;
  color: #fff;
  padding: 20px;
  width: 250px;
  position: relative;
  border-radius: 5px;
  margin-right: 20px;
}
.sidefoot .btn a::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(./assets/images/visual/ico_download.png) no-repeat;
  vertical-align: middle;
  position: absolute;
  right: 20px;
  top: 23px;
}
.sidefoot .btn a:nth-child(2):after {
  background: url(./assets/images/visual/ico_arrow_double.png) no-repeat;
}
.sidefoot .btn a:last-child {
  margin-right: 0;
}
header nav > a {
  position: relative;
  margin-left: 20px;
  font-size: 17px;
  font-weight: 100;
  transition: all 0.5s ease-in-out;
}

nav input[id=trigger] {
  display: none;
}
nav label[for=trigger] {
  width: 40px;
  height: 30px;
  display: block;
  position: relative;
  cursor: pointer;
}

nav label[for=trigger] span {
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 100%;
  left: 0;
  transition: 0.3s;
}
nav label[for=trigger] span:nth-child(1) {
  top: 0;
}
nav label[for=trigger] span:nth-child(2) {
  top: 50%;
  width: 27px;
}
nav input[id=trigger]:checked + label[for=trigger]{
  z-index: 1001;
}
nav input[id=trigger]:checked + label[for=trigger] span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
  background-color: #fff;
}
nav input[id=trigger]:checked + label[for=trigger] span:nth-child(2) {
  top: 50%;
  transform: rotate(-45deg);
  width: 40px;
  background-color: #fff;
}
nav input[id=trigger]:checked ~ .sidebar {
  top: 0px;
}
/* marquee */
.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 300%;
  height: 168px;
  overflow: hidden;
}
.wrapper .boxes {
  position: relative;
  left: 418px;
}
.wrapper .box {
  position: absolute;
  width: 1628px;
  color: #fff;
  font-weight: 700;
  font-size: 120px;
  line-height: 140%;
  text-align: center;
  color: #000;
  -webkit-text-stroke: 1px #555;
  transition: opacity 1s;
}
#no03 .box.system-on{
  opacity: 1;
}
#no03 .box.jt-on{
  opacity: 0;
}
#no04 .box.system-on{
  opacity: 0;
}
#no04 .box.jt-on{
  opacity: 1;
}

.wrapper .marque_logo {
  position: relative;
  left: -235px;
}
.wrapper .marque_logo::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 228px;
  height: 150px;
  transform: translateY(-50%);
  background: url(../images/common/marquee_logo_transference.png) no-repeat;
  background-size: contain;
}
.intro{
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}
.intro_crossboard {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.intro_crossboard .scale-txt {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  scale: 1;
  opacity: 0;
}
.crossboard_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.cross_link {
  position: relative;
  height: 100px;
}
.cross_link a {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 300;
  font-size: 80px;
  text-align: center;
  /* animation: opacity 0.8s ease-out; */
}
.cross_link a strong {
  margin-right: 24px;
}
.system-on .cross_link a:last-child {
  display: none;
  opacity: 0;
}
.jt-on .cross_link a:first-of-type {
  display: none;
  opacity: 0;
}
/* 
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
.crossboard_title{
  text-align: center;
  display: flex;
  justify-content: center;
}
.crossboard_title p{
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
}
.crossboard_title p:first-child {
  color: #fff;
}
.crossboard_title p:last-child {
  margin-left: 30px;
  color: #000;
  -webkit-text-stroke: 1px #555;
}
.crossboard_main {
  display: flex;
  justify-content: center;
  margin: 40px 0 10px 0;
  transition: margin 1s;
}
.jt-on .crossboard_main {
  margin: 40px 0 130px 0;
}
.system-on .img_txt_wrap {
  position: relative;
  margin-right: 40px;
  width: 308px;
  transition: width 0.5s;
}
.jt-on .img_txt_wrap {
  position: relative;
  margin-right: 40px;
  width: 448px;
  transition: width 1s;
}
.img_txt_wrap img:first-child {
  position: absolute;
  display: inline-block;
  right: 0;
}
.jt-on .img_txt_wrap img:first-child {
  position: absolute;
  display: inline-block;
  right: 0;
  opacity: 0;
}
.system-on .img_txt_wrap img:last-child {
  position: absolute;
  display: inline-block;
  right: 0;
  opacity: 0;
}
.group_txt_wrap{
  position: relative;
}
.system_mark_wrap{
  opacity: 0;
}
.progress_wrap span:last-child {
  margin: 10px auto;
}
/*link_nav start*/
.link_nav {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  padding: 0px 10px;
  z-index: 2;
}
.link_nav a {
  color: #c2c2c2;
  font-size: 1.3em;
  line-height: 1.7;
  text-decoration: none;
  writing-mode: vertical-rl;
  padding: 4px 0;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.link_nav a,
.link_nav a span {
  width: 24px;
  height: 24px;
  text-decoration: none;
  text-align: center;
  display: block;
}
.link_nav a:last-child {
  margin-bottom: 0;
}
.link_nav a:hover {
  text-decoration: underline;
}
.link_nav a.active {
  position: relative;
  color: #000;
}
.link_nav .about_link {
  background: url(../images/common/01_About_link.png) no-repeat;
  background-position: center;
}
.link_nav .service_link {
  background: url(../images/common/02_Service_link.png) no-repeat;
  background-position: center;
}
.link_nav .solution_link {
  background: url(../images/common/03_Solution_link.png) no-repeat;
  background-position: center;
}
.link_nav .experience_link {
  background: url(../images/common/04_Expirence_link.png) no-repeat;
  background-position: center;
}
.link_nav .recruit_link {
  background: url(../images/common/05_Recruit_link.png) no-repeat;
  background-position: center;
}
.link_nav .contact_link {
  background: url(../images/common/06_Contact_link.png) no-repeat;
  background-position: center;
}
/* Top Button */
.top_btn {
  position: fixed;
  bottom: 8%;
  right: 3%;
  z-index: 300;
}
.top_btn a {
  display: block;
  position: relative;
  width: 60px;
  /* height: 100%; */
  text-align: center;
  color: #000;
  text-transform: uppercase;
}
.top_btn a:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url(/assets/images/st/visual/topbtn_st.png) no-repeat;
  background-size: 105%;
  background-position: 0 0;
}
a#topBtn {
  position: fixed;
  right: 2%;
  bottom: 3%;
  display: none;
  z-index: 9999;
}
.custom-cursor {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  transform: scale(1);
}
/* .custom-cursor.custom_cursor_hover {
  width: 300px;
  height: 300px;
  border-radius: 150px;
} */

.custom-cursor-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  transform-origin: 50% 50%;
}
.custom-cursor.custom_cursor_visible {
  opacity: 1;
}
.custom-cursor.custom_cursor_hidden {
  opacity: 0;
}
@media (max-width: 767.98px) {
  .custom-cursor {
    display: none;
  }
}
.custom-cursor.custom_cursor_hover .custom-cursor-icon {
  transform: scale(1.6);
}
/* #five .content_img {
  width: 100%;
  height: 100vh;
  background: url(./assets/images/bg/system1/07.png) no-repeat;
  background-size: cover;
  clip-path: circle(50px at var(--x) var(--y));
}
#five .content_img:hover {
	transition: all 0.3s;
  clip-path: circle(100px at var(--x) var(--y));
} */
/*커스텀 커서 끝==========*/

/***************************************************
 * Generated by SVG Artista on 6/26/2023, 12:48:09 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/



#creative_group {
  display: none;
}
#creative_group .cls-1 {
  fill: none;
  fill-rule: evenodd;
  stroke: #231815;
  stroke-miterlimit: 10;
  stroke-width: 8px;
}
.ball {
  width: 22px;
  height: 20px;
  opacity: 0;
}
/* .text_box{
  display: flex;
  align-items: center;
  margin-left: -25%;
} */
.about_svg1{
  width: 775px;
  height: 180px;
}
.info_tit {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-size: 115px;
  font-weight: 700;
  margin-top: -19px;
  line-height: 116px;
  white-space: nowrap;
  color:#000;
  opacity: 1;
  margin-left: 60px;
}
.info_tit img {
  width: 100%;
  margin-left: -1125px;
  margin-top: 17px;
}
.info_svg {
  display: inline-block;
  width: 30%;
  /* margin-right: 123px; */
}
.info_svg text {
  font-size: 146px;
}
.line {
  position: absolute;
left:-70px;
top: 170px;
height: 0;
  width: 0px;
  height: 40px;
  background: url(./assets/images/visual/bg_line.png) no-repeat;
  z-index: 30;
}
.hand {
  position: absolute;
  left: -40px;
  top: 523px;
  width: 423px;
  height: 396px;
  z-index: 50;
  opacity: 0;
  background: url(./assets/images/bg/system1/hand.png) no-repeat;
}
#About .panel {
  text-align: left;
}
#About .text_box2{
  position: absolute;
  left: 50%;
  top: 30%;
  width: 1490px;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#About .text_box2 .arrow_icon{
  position: absolute;
  left: 100px;
  top: 70px;
  width: 441px;
  height: 155px;
  display: none;
}

#About .text_box2 .dot_icon{
  position: absolute;
  left: -16px;
  top: -16px;
  width: 75px;
  height: 35px;
  display: none;
}

#About .text_box2 .title {
  display: flex;
}
#About .text_box2 .text_icon{
  width: 300px;
  height: 100px;
  opacity: 0;
  display: none;
}
#About .text_box2 .title p{
  margin-left: 20px;
  font-size: 71px;
  opacity: 0;
}
#About .sub_tit {
  font-size: 24px;
  color:#C8C8C8;
  font-weight: 200;
  text-align: center;
  opacity: 0;
}
#About .sub_tit.center {
  align-items: center;
}
#About .sub_tit.right {
  align-items:end;
}
#About .sub_tit.right p {
  text-align: right;
}
#About .sub_tit p {
  color: #EEEEEE;
  font-size: 20px;
  line-height: 34px;
  font-weight: 300;
  margin: 0;
}
#About .sub_tit strong {
  font-weight: 200;
  font-size: 50px;
  color: #fff;
  display: block;
  text-align: left;
  margin-bottom: 25px;
}
#Service {
  
}
#Service .svg_ux{
  position: absolute;
  left: -50px;
  top: 0;
  display: none;
}
#Service .svg_platform{
  position: absolute;
  left: 150px;
  top: 0;
  width: 700px;
  display: none;
}
#Service .svg_mobile{
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  display: none;
}
#Service .svg_service{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: none;
}

/*service common*/
#Service .title{
  position: relative;
  font-weight: 600;
  font-size: 150px;
  /* line-height: 150px; */
  margin-bottom: 30px;
}
/* #Service .text_box1 .title:before{
  position: absolute;
  left: -53px;
  top: -10px;
  content: "";
  width: 24px;
  height: 18px;
  background: url(./assets/images/visual/service_title_number01.png);
  opacity: 0;
}#Service .text_box2 .title:before{
  position: absolute;
  left: 150px;
  top: -10px;
  content: "";
  width: 24px;
  height: 18px;
  background: url(./assets/images/visual/service_title_number02.png);
  opacity: 0;
}#Service .text_box3 .title:before{
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 24px;
  height: 18px;
  background: url(./assets/images/visual/service_title_number03.png);
  opacity: 0;
}#Service .text_box4 .title:before{
  position: absolute;
  left: 180px;
  top: -20px;
  content: "";
  width: 24px;
  height: 18px;
  background: url(./assets/images/visual/service_title_number04.png);
  opacity: 0;
} */
#Service .sub_title_box{
  width: 900px;
}
#Service .sub_title{
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
}
#Service .sub_text{
  font-weight: 100;
  font-size: 20px;
}

/*service common*/

#Service .text_box1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
#Service .text_box1 .title p{
  padding-left: 200px;
}
#Service .text_box1 .sub_title_box{
  padding-left: 150px;
  text-align: left;
}
#Service .text_box1 .sub_title{
  opacity: 0;
}
#Service .text_box1 .sub_text{
  opacity: 0;
}
#Service .text_box2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
#Service .text_box2 .title p{
  padding: 150px 150px 0 0;
}
#Service .text_box2 .sub_title_box{
  text-align: right;
}
#Service .text_box2 .sub_title{
  opacity: 0;
}
#Service .text_box2 .sub_text{
  opacity: 0;
}
#Service .text_box3{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
#Service .text_box3 .title p{
  padding: 170px 0 0 150px;
}
#Service .text_box3 .sub_title_box{
  text-align: left;
}
#Service .text_box3 .sub_title{
  opacity: 0;
}
#Service .text_box3 .sub_text{
  opacity: 0;
}
#Service .text_box4{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
#Service .text_box4 .title p{
  padding: 150px 0 0 0;
}
#Service .text_box4 .sub_title_box{
  text-align: center;
}
#Service .text_box4 .sub_title{
  opacity: 0;
}
#Service .text_box4 .sub_text{
  opacity: 0;
}
#Experience {
  position: relative;
  height: 163vh;
  background-color: #50B048;
  background-size: contain;
  overflow: hidden;
}
#Experience .text_article{
  position: absolute;
  right:-40%;
  top: 95%;
  transform: translate(-50%, -50%);
  font-size: 300px;
  font-weight: 700;
  -webkit-text-stroke: 2px white;
  color: transparent;
  box-sizing: border-box;
  z-index: 10;
  opacity: 0.2;
  pointer-events: none;

}
#Experience .experience_container {
  padding: 8% 0 0 11%;
  display: flex;
  flex-wrap: wrap;
}
#Experience .card {
  padding: 30px;
  height: 400px;
  width: 27%;
}
#Experience .card a img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
#Experience .card a:hover img {
  scale: 1.3;
}
#Experience .card a {
  width: 350px;
  height: 275px;
  color: #fff;
  position: relative;
  display: block;
  margin: 0 auto;
}
#Experience .card p {
  padding-left: 80px;
}
#Experience .card .sub_text {
  z-index: 10;
  font-size: 20px;
  font-weight: 600;
}
#Experience .card .title_text {
  font-weight: 600;
  font-size: 32px;
  z-index: 10;
}
#Experience .card a:hover .txt_wrap {
  color: #000;
}
#Experience .card .txt_wrap {
  position: absolute;
  bottom: -17px;
  right: -36px;
  z-index: 2;
}
/* Recruit */
#Recruit {
  height: 100vh;
  overflow: hidden;
}
#Recruit.container {
  width: 300%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}
#Recruit .panel:nth-child(1) {
  background-color: #fff;
  border-radius: 0 0 200px 0;
}
#Recruit .panel:nth-child(1) .rec_wrapper {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box {
  display: flex;
  flex-direction: column;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .title p:nth-child(3) {
  position: relative;
  padding-left: 280px;
  margin-bottom: 16px;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .title span {
  position: absolute;
  left: -110px;
  top: 0;
  width: 367px;
  height: 111px;
  background: url(./assets/images/visual/recruit_text_img.png) no-repeat;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .title {
  text-align: left;
  display: inline-block;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 12px;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .sub_title {
  text-align: left;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .sub_title .text {
  margin-bottom: 30px;
}
#Recruit .panel:nth-child(1) .re_cruit_text_box .sub_title > a {
  position: relative;
  display: block;
  width: 250px;
  height: 54px;
  border-radius: 2px;
  text-align: left;
  line-height: 54px;
  border: 1px solid #000;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 0 0 0 16px;
  font-size: 16px;
}
#Recruit .panel:nth-child(1) .text_box .sub_title a::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background: url(../images/common/btn_recruit_arrow.png) no-repeat;
}
#Recruit .panel:nth-child(1) .recruit_contact {
  display: flex;
  text-align: left;
  margin-top: 40px;
}
#Recruit .panel:nth-child(1) .recruit_contact li {
  position: relative;
  padding-left: 10px;
  margin-right: 100px;
  font-size: 16px;
}
#Recruit .panel:nth-child(1) .recruit_contact li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: #000;
}
#Recruit .panel:nth-child(1) .recruit_contact li p:first-child {
  font-weight: 600;
}
#Recruit .panel .title_text p {
  position: absolute;
  left: 270px;
  top: 160px;
  font-size: 76px;
  font-weight: 200;
  text-align: left;
}
#Recruit .panel .title_text strong {
  font-weight: 500;
}
#Recruit .panel:nth-child(2) .content_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#Recruit .tab_menu {
  position: absolute;
  left: 270px;
  top: 60%;
  transform: translateY(-50%);
  width: 1490px;
  height: 300px;
}
#Recruit .tab_menu .tabnav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
#Recruit .tab_menu .tabnav > li {
  position: relative;
  flex-grow: 1;
}
#Recruit .tab_menu .tabnav > li:before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ddd;
}
#Recruit .tab_menu .tabnav > li a:after {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  width: 0;
  height: 4px;
  background-color: #000;
  transition: all 0.5s ease-in;
}
#Recruit .tab_menu .tabnav > li a.is_on:after {
  width: 100%;
}
#Recruit .tab_menu .tabnav > li a {
  position: relative;
  text-align: left;
}
#Recruit .tab_menu .tabnav > li a > span {
  display: block;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 30px;
}
#Recruit .tab_menu .tabnav > li a > p {
  font-size: 22px;
  font-weight: 500;
}
#Recruit .tab_menu .tabnav .btn {
  display: block;
}
#Recruit .tab_menu .tabnav .cont {
  position: absolute;
  top: 150px;
  left: 0;
  color: #000;
  text-align: center;
  width: 100%;
  height: 300px;
}
#Recruit .tab_menu .tabnav > li.is_on .cont {
  opacity: 1;
}
#Recruit .tab_menu .tab_menu_list {
  text-align: left;
  margin-bottom: 70px;
}
#Recruit .tab_menu .tab_menu_list > .tab_menu_title {
  font-size: 20px;
  font-weight: 500;
  content: none;
  padding-left: 0;
  margin-bottom: 20px;
}
#Recruit .tab_menu .tab_menu_list > .tab_menu_title:before {
  content: none;
  padding: none;
}
#Recruit .tab_menu .tab_menu_list > li {
  position: relative;
  font-size: 16px;
  /* font-weight: 200; */
  font-weight: 300;
  padding-left: 20px;
}
#Recruit .tab_menu .tab_menu_list > li::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 11px;
  height: 11px;
  background: url(../images/common/list_style_check.png) no-repeat;
}

#Recruit .panel:nth-child(3) img {
  position: absolute;
  left: 50%;
  top: 34%;
  transform: translateX(-50%);
  width: 1477px;
  height: 613px;
}

.recruit_list {
  width: 700px;
}
.accordionTitle {
  padding: 20px;
  position: relative;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #282828;
  transition: ease-in-out 0.2s all;
  cursor: pointer;
  text-align: left;
}
.accordionTitle:hover {
  padding-left: 25px;
}
/* Accordion Item line - Active */
.accordionTitleActive:after {
  content: "";
  position: absolute;
  height: 2px;
  border-radius: 50px;
  transition: ease-in-out 0.6s all;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Accordion Item Icon  */
.accIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  margin-top: -3px;
  align-items: center;
  justify-content: center;
}

.accIcon:before,
.accIcon:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  background-color: #282828;
  transition: ease 0.3s all;
  width: 10px;
  height: 2px;
}
.accIcon:before {
  left: 3px;
  transform: rotate(-45deg);
}
.accIcon:after {
  left: -3px;
  transform: rotate(45deg);
}

.accordionTitle:hover .accIcon:before,
.accordionTitle:hover .accIcon:after {
}

.accIcon.anime.accIcon:before {
  transform: rotate(45deg);
}
.accIcon.anime.accIcon:after {
  transform: rotate(-45deg);
}

/* Text Content */
.accordion .item .text {
  opacity: 0;
  height: 0;
  padding: 0px 20px;
  position: relative;
  line-height: 24px;
  font-size: 16px;
  font-weight: 200;
  transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  overflow: hidden;
  background-color: #eaeaea;
  letter-spacing: 0.5px;
}
.accordion .item .text ul {
  margin-top: 7px;
}
/* Text Content - Class for JS to hide and show */
.accordion .item .text.show {
  opacity: 1;
  height: auto;
  padding: 25px 20px;
  position: relative;
  z-index: 0;
  border-radius: 0px 0px 3px 3px;
  text-align: left;
}
.accordion .item .text.show ul > li {
  padding: 8px;
  font-weight: 600;
}
.accordion .item .text.show ul > li > ul > li {
  font-weight: 300;
  padding: 0 0 0 14px;
  position: relative;
}
.accordion .item .text.show ul > li > ul > li:before {
  font-weight: 200;
  position: absolute;
  left: 0;
  top: 0;
  content: "-";
}
#Contact {
  height: 100vh;
  position: relative;
}
.contact_inquiry {
  width: 1100px;
  height: 764px;
  position: absolute;
  right: 0;
  bottom: -36px;
  background-position: right bottom;
}
.contact_inquiry .input_checkbox input {
  width: 20px;
  height:20px;
  vertical-align: middle;
  border: 1px solid #80808070;
  margin-top: 2px;
  margin-right: 10px;
}
.contact_inquiry .contact_title {
  font-size: 50px;
  text-align: left;
  margin-bottom: 30px;
  padding-left: 60px;
}
.map-api {
  width: 1330px;
  height: 790px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  border-radius: 0 100px 0 0;
  background: url(../images/common/contact_map_img.png) no-repeat;
  background-size: cover;
}
.input_checkbox label {
  cursor: pointer;
  margin-right: 20px;
}
.input_checkbox {
  font-size: 16px;
  padding: 10px 0 10px 160px;
  margin-bottom: 35px;
  display: flex;
}
.grid_wrap {
  width: 880px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(48px, auto);
  padding-left: 60px;
}
.submit_btn {
  width: 500px;
  height: 64px;
  border: 1px solid #666;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 20px;
  font-family: "SCoreDream";
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}
.input_box {
  display: flex;
}
.input_box button {
  width: 110px;
  margin-left: 10px;
  background-color: #fff;
  font-size: 16px;
  font-family: "SCoreDream";
  border: 1px solid #000;
  border-radius: 4px;
}
.input_box p {
  flex-shrink: 0;
  width: 100px;
  text-align: left;
  line-height: 50px;
  font-weight: 500;
}
.input_text {
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid #dadada;
  font-size: 16px;
  padding: 0 10px;
}
.box1 {
  grid-column: 1/2;
  grid-row: 1;
}
.box2 {
  grid-column: 2/2;
  grid-row: 1;
}
.box3 {
  grid-column: 1/2;
  grid-row: 2;
}
.box4 {
  grid-column: 2/3;
  grid-row: 2;
}
.box5 {
  grid-column: 1/3;
  grid-row: 3;
}
.box6 {
  grid-column: 1/3;
  grid-row: 4/8;
}
.box7 {
  grid-column: 1/3;
}
footer {
  width: 100vw;
  height: 200px;
  background-color: #454545;
}
.footer_wrap {
  padding: 85px 5% 0;
  display: flex;
}
.footer_logo {
  width: 200px;
  height: 45px;
  background: url(../images/common/logo_white_system.png);
}
.adress {
  padding-top: 15px;
  font-weight: 100;
  font-size: 15px;
  color: #fff;
}
