* {
  padding: 0;
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
}
/* Common */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fie ldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}
body,
input,
textarea,
select,
table {
  font-family: "SCoreDream";
  font-size: 12px;
}
.space {
  display: inline-block;
  width: 0.28em; /* 가시적인 공백 너비 조정 */
}
.sr-only {
  clip: rect(1px, 1px, 1px, 1px) !important;
  width: 1px !important;
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
}

html {
  overflow-y: scroll;
  height: 400%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
body {
  overflow-y: visible;
  position: relative;
  height: unset;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
}

.container {
  width: 300%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex: 0 0 100vw;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
header > * {
  margin: 20px 40px;
}

header nav > a {
  position: relative;
  margin-left: 20px;
  font-size: 17px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}

.link_nav {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  padding: 0px 10px;
  z-index: 2;
}
.link_nav::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 100%;
  background-color: #c2c2c2;
}

.link_nav a {
  color: #c2c2c2;
  font-size: 1.3em;
  line-height: 1.7;
  text-decoration: none;
  writing-mode: vertical-rl;
  padding: 4px 0;
  text-align: center;
  display: block;
}
.link_nav a:last-child {
  margin-bottom: 0;
}
.link_nav a:hover {
  text-decoration: underline;
}

.link_nav a.active {
  position: relative;
  color: #000;
}
/* .link_nav a.active::after{
	content: "";
	position: absolute;
	left: -10px;
	top: 0;
	width: 3px;
	height: 100%;
	background-color: #000;	
} */
.link_nav span {
  position: absolute;
  left: 0px;
  top: 0;
  width: 3px;
  height: 30px;
  background-color: #000;
  transition: all 1s;
}
/* Nav */
/* input[name="tabmenu"] {
  display: none;
}
.tabs {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.items {
  height: 100vh;
  width: 300%;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}
input[name="tabmenu"] {
  display: none;
}
.btn {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.btn label {
  display: inline-block;
  height: 5px;
  width: 50px;
  background-color: #fff;
  cursor: pointer;
}
input[id="tab1"]:checked ~ .tabs .items {
  top: 0;
}
input[id="tab2"]:checked ~ .tabs .items {
  top: -100%;
}
input[id="tab3"]:checked ~ .tabs .items {
  top: -200%;
}

input[id="tab1"]:checked ~ .btn label[for="tab1"],
input[id="tab2"]:checked ~ .btn label[for="tab2"],
input[id="tab3"]:checked ~ .btn label[for="tab3"] {
  background-color: #000;
} */

.custom-cursor {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  transform: translate(-50%, -50%);
  /* backface-visibility: hidden; */
  /* transition: none; */
  pointer-events: none;
  border-radius: 50%;
  transform: scale(1);
  /* -webkit-mask-image: url(./assets/images/visual/circle.svg);
  mask-image: url(./assets/images/visual/circle.svg); */
}
/* .custom-cursor.custom_cursor_hover {
  width: 300px;
  height: 300px;
  border-radius: 150px;
} */

.custom-cursor-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url(./assets/images/visual/durmmy.png); /* 커서 아이콘의 이미지 경로 */
  background-size: cover;
  transition: all 0.2s ease-in-out;
  transform-origin: 50% 50%;
}

.custom-cursor.custom_cursor_visible {
  opacity: 1;
}

.custom-cursor.custom_cursor_hidden {
  opacity: 0;
}

@media (pointer: none), (pointer: coarse) {
  #custom_cursor,
  #custom_cursor .custom-cursor-icon {
    display: none !important;
    visibility: hidden;
    opacity: 0;
  }

  * {
    cursor: auto !important;
  }
}

@media (max-width: 767.98px) {
  .custom-cursor {
    display: none;
  }
}

.custom-cursor.custom_cursor_hover .custom-cursor-icon {
  transform: scale(1.6);
}
/* #five .content_img {
  width: 100%;
  height: 100vh;
  background: url(./assets/images/bg/system1/07.png) no-repeat;
  background-size: cover;
  clip-path: circle(50px at var(--x) var(--y));
}
#five .content_img:hover {
	transition: all 0.3s;
  clip-path: circle(100px at var(--x) var(--y));
} */
/*커스텀 커서 끝==========*/

#About .panel:nth-child(1) {
  flex: 0 0 100vw;
  display: flex;
  flex-direction: column;
}
#About .panel:nth-child(1)::after {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  content: "";
  width: 500px;
  height: 600px;
  border-radius: 100px 0 100px 0;
  background: url(./assets/images/bg/system1/About_page1.png);
  background-size: cover;
  background-position-x: 50%;
  transition: all 0.3s;
  opacity: 1;
}
#About .panel:nth-child(1).active::after {
  width: 100%;
  height: 100vh;
  top: 50%;
  border-radius: 100px 0 0 0;
  opacity: 0.5;
}
#About .panel:nth-child(1) .title_container {
  position: relative;
  margin: 160px 160px;
}
#About .panel:nth-child(1) .title_text {
	position: absolute;
	left: 8%;
	top: 12%;
  z-index: 10;
  font-weight: 300;
}
#About .panel:nth-child(1) .title_text p {
  line-height: 60px;
  font-size: 60px;
  margin-bottom: 18px;
}
#About .panel:nth-child(1) .replace_text {
  width: 743px;
  height: 82px;
  display: inline-block;
  background: url(./assets/images/visual/about_replace_text.png);
}
#About .panel:nth-child(1) .sub_text {
	position: absolute;
	left: 55%;
	top: 50%;
}
#About .panel:nth-child(1) .sub_text p {
  margin-bottom: 30px;
  font-size: 20px;
}

#About .panel:nth-child(2) {
  flex: 0 0 100vw;
  background: url(./assets/images/bg/system1/page2.png);
  background-size: contain;
  background-position: 50%, 60%;
  background-repeat: no-repeat;
}
#About .panel:nth-child(3) {
  flex: 0 0 190vw;
  background: url(./assets/images/bg/system1/page3_long.png);
  background-size: cover;
}
#About .panel:nth-child(4) {
  background: url(./assets/images/bg/system1/page4.png);
  background-size: cover;
}
#Service {
  height: 163vh;
  background: url(./assets/images/bg/system1/service_page1.png);
  background-size: cover;
}
#Solution {
  height: 100vh;
  background: url(./assets/images/bg/system1/solution_page1.png);
  background-size: cover;
}
#Experience {
  height: 163vh;
  background: url(./assets/images/bg/system1/experience_page1.png);
  background-size: contain;
}
.experience_container {
  padding: 8% 0 0 11%;
  display: grid;
  grid-template-rows: repeat(3, 100%);
  grid-template-columns: repeat(3, 30%);
}
.card {
  position: relative;
  padding: 30px;
}
.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.card a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: #fff;
  justify-content: center;
}
.card a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image: url(./assets/images/visual/circle.svg);
  mask-image: url(./assets/images/visual/circle.svg);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  opacity: 0;
  transition: opacity 0.3s;
}
/* .card a:hover {
  background-color: blue;
  -webkit-mask-image: url(./assets/images/visual/circle.svg);
  mask-image: url(./assets/images/visual/circle.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
} */
.card p {
  padding-left: 80px;
}
.card .sub_text {
  font-size: 20px;
  font-weight: 600;
}
.card .title_text {
  font-weight: 600;
  font-size: 32px;
}
#Recruit {
  height: 100vh;
  background: url(./assets/images/bg/system1/recruit_page1.png);
  background-size: cover;
}
#Contact {
  height: 100vh;
  background: url(./assets/images/bg/system1/contact_page1.png);
  background-size: cover;
}
