.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}
.panel {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex: 0 0 100vw;
  box-sizing: border-box;
}



/*link_nav start*/
.link_nav {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  padding: 0px 10px;
  z-index: 2;
}
.progress_page {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.progress_page p {
  display: inline;
  font-size: 20px;
  line-height: 20px;
  color: #1766fe;
  font-weight: 600;
  writing-mode: vertical-rl;
  margin-bottom: 10px;
  animation-name: fadeIn;
  animation-duration: 0.5s; 
}
.progress_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}
.progress_wrap:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #1766fe;
  z-index: -1;
  transition: all .5s;
}
.progress_wrap span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  border: 1px solid #1766fe;
  background-color: #fff;
  margin: 10px auto 0;
  scale: 1;
  animation-name: fadeIn;
  animation-duration: 0.5s; 
}
.progress_wrap span.active {
  background-color: #1766fe;
  scale: 1.3;
}
.link_nav .about_link span{
  background: url(../assets/images/st/visual/01_About_link_on.png) no-repeat;
  background-position: center;
  transition: opacity .5s;
  opacity: 0;
}
.link_nav .about_link.active span{
  transition: opacity .5s;
  opacity: 1;
}
.link_nav .service_link span{
  background: url(../assets/images/st/visual/02_Service_link_on.png) no-repeat;
  background-position: center;
  transition: opacity .5s;
  opacity: 0;
}
.link_nav .service_link.active span{
  transition: opacity .5s;
  opacity: 1;
}
.link_nav .solution_link span{
  background: url(../assets/images/st/visual/03_Solution_link_on.png) no-repeat;
  background-position: center;
  transition: opacity .5s;
  opacity: 0;
}
.link_nav .solution_link.active span{
  transition: opacity .5s;
  opacity: 1;
}
.link_nav .experience_link span{
  background: url(../assets/images/st/visual/04_Expirence_link_on.png) no-repeat;
  background-position: center;
  transition: opacity .5s;
  opacity: 0;
}
.link_nav .experience_link.active span{
  transition: opacity .5s;
  opacity: 1;
}
.link_nav .recruit_link span{
  background: url(../assets/images/st/visual/05_Recruit_link_on.png) no-repeat;
  background-position: center;
  transition: opacity .5s;
  opacity: 0;
}
.link_nav .recruit_link.active span{
  transition: opacity .5s;
  opacity: 1;
}
.link_nav .contact_link span{
  background: url(../assets/images/st/visual/06_Contact_link_on.png) no-repeat;
  background-position: center;
  transition: opacity .5s;
  opacity: 0;
}
.link_nav .contact_link.active span{
  transition: opacity .5s;
  opacity: 1;
}
.custom-cursor {
  width: 16px;
  height: 16px;
}
.custom-cursor-icon {
  background: #1766fe;
  font-size: 16px;
}
.custom-cursor p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  z-index: 1;
  text-align: center;
  color: #fff;
  font-size: 20px;
  opacity: 0;
}
.custom-cursor .arrow {
  width: 0;
  height: 50px;
  position: absolute;
  left: -50px;
  top: 4px;
  z-index: 1;
  background: url(./assets/images/visual/solution_arrow.svg) no-repeat;
  /* mix-blend-mode: difference;	 */
}
.custom-cursor.custom_cursor_hover .custom-cursor-icon {
  /* transform: scale(10); */
}
.circles {
  pointer-events: none;
  position: fixed;
  --dim: 0vmin;
  width: var(--dim);
  height: var(--dim);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.custom-cursor.custom_cursor_hover .circles {
  /* --dim: 30vmin; */
}
.circles__text {
  text-transform: uppercase;
  transform-origin: 700px 700px;
  will-change: transform, opacity;
}
.circles__text--1 {
  font-size: 60px;
  fill: #1766fe;
}
/*커스텀 커서 끝==========*/

#About .panel:nth-child(1) {
  flex: 0 0 100vw;
  display: flex;
  flex-direction: column;
}

#About .panel:nth-child(1) p {
  color: #000;
  text-align: left;
  font-weight: 200;
}
#About .panel:nth-child(1) .sub_text p {
  font-weight: 400;
}
#About .panel:nth-child(1)::after {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  content: "";
  width: 500px;
  height: 600px;
  border-radius: 100px 0 100px 0;
  background: url(./assets/images/bg/system1/About_page1.png);
  background-size: cover;
  background-position-x: 50%;
  transition: all 0.3s;
  opacity: 1;
}
#About .panel:nth-child(1).active::after {
  width: 100%;
  height: 100vh;
  top: 50%;
  border-radius: 100px 0 0 0;
  opacity: 0.5;
}
#About .panel:nth-child(1) .title_container {
  position: relative;
  margin: 160px 160px;
}
#About .panel:nth-child(1) .title_text {
  position: absolute;
  left: 8%;
  top: 12%;
  z-index: 10;
  font-weight: 200;
}
#About .panel:nth-child(1) .title_text p {
  line-height: 60px;
  font-size: 60px;
  margin-bottom: 18px;
}
#About .panel:nth-child(1) .replace_text {
  width: 743px;
  height: 82px;
  display: inline-block;
  background: url(../assets/images/st/visual/about_replace_text.png);
}
#About .panel:nth-child(1) .sub_text {
  position: absolute;
  left: 52%;
  top: 50%;
}
#About .panel:nth-child(1) .sub_text p {
  margin-bottom: 30px;
  font-size: 20px;
}
#About .panel:nth-child(2) {
  flex: 0 0 100vw;
}
#About .panel:nth-child(2) img {
  width: 1600px;
  height: 900px;
  margin-top: 100px;
}
#About .panel:nth-child(3) {
  flex: 0 0 190vw;
}
#About .panel:nth-child(3) .all_wrap {
  width: 3300px;
  display: flex;
}
#About .panel:nth-child(3) .all_wrap .year_wrap {
  position: relative;
  display: flex;
  flex: 0 0 690px;
  height: 750px;
  margin: 0 18px;
}
#About .panel:nth-child(3) .all_wrap .y20:nth-child(1).year_wrap::before {
  position: absolute;
  left: 33%;
  top: 60%;
  content: "";
  width: 22px;
  height: 183px;
  transform: translate(-50%, -50%);
  background: url(./assets/images/visual/about_bg_line_down.png) no-repeat;
}
#About .panel:nth-child(3) .all_wrap .y20:nth-child(2).year_wrap::before {
  position: absolute;
  left: 33%;
  top: 40%;
  content: "";
  width: 22px;
  height: 183px;
  transform: translate(-50%, -50%);
  background: url(./assets/images/visual/about_bg_line_up.png) no-repeat;
}
#About .panel:nth-child(3) .all_wrap .y20:nth-child(5).year_wrap::before {
  position: absolute;
  left: 33%;
  top: 45%;
  content: "";
  width: 22px;
  height: 183px;
  transform: translate(-50%, -50%);
  background: url(./assets/images/visual/about_bg_line_down.png) no-repeat;
}
#About .panel:nth-child(3) .all_wrap .year_wrap:nth-child(4) {
  flex: 0 0 600px;
}
#About .panel:nth-child(3) .all_wrap .year_wrap.up {
  justify-content: space-between;
  flex-direction: column-reverse;
}
#About .panel:nth-child(3) .all_wrap .year_wrap.up .text_box_wrap {
  height: 300px;
}
#About .panel:nth-child(3) .all_wrap .year_wrap.down {
  justify-content: space-between;
  flex-direction: column;
}
#About .panel:nth-child(3) .all_wrap .year_wrap .text_box {
  text-align: left;
  margin-bottom: 45px;
}
#About .panel:nth-child(3) .all_wrap .year_wrap .text_box .text_box_title {
  content: "";
  list-style: none;
  font-weight: 600;
  font-size: 24px;
}
#About .panel:nth-child(3) .all_wrap .year_wrap .text_box li:not(:first-child) {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 300;
}
#About .panel:nth-child(3) .all_wrap .year_wrap .text_box li:not(.text_box_title)::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "ㆍ";
}
#About .panel:nth-child(3) img {
  width: 464px;
  height: 162px;
}
#About .panel:nth-child(3) .panel_article1 {
  position: absolute;
  left: 0;
  top: 600px;
  width: 900px;
  height: 900px;
  border-radius: 450px;
  border: 1px solid #c8d2da;
}
#About .panel:nth-child(3) .panel_article2 {
  position: absolute;
  left: 800px;
  top: 450px;
  width: 700px;
  height: 700px;
  border-radius: 350px;
  border: 1px solid #c8d2da;
}
#About .panel:nth-child(3) .panel_article3 {
  position: absolute;
  left: 2180px;
  top: 200px;
  width: 350px;
  height: 350px;
  border-radius: 175px;
  border: 1px solid #c8d2da;
}
#About .panel:nth-child(3) .panel_article4 {
  position: absolute;
  left: 2400px;
  top: -350px;
  width: 700px;
  height: 700px;
  border-radius: 350px;
  border: 1px solid #c8d2da;
}

#About .panel:nth-child(4) {
  display: block;
}
#About .panel:nth-child(4) .container_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1380px;
  margin: 0 auto;
}
#About .panel:nth-child(4) .content_wrap {
  display: flex;
  justify-content: space-between;
  height: 218px;
}
#About .panel:nth-child(4) .title_text {
  width: 862px;
}
#About .panel:nth-child(4) .title_text p:nth-child(1) {
  position: relative;
  font-size: 55px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}
#About .panel:nth-child(4) .title_text p:nth-child(1):before {
  position: absolute;
  left: 22%;
  top: 50%;
  content: "";
  transform: translate(-50%, -50%);
  width: 82px;
  height: 82px;
  background: url(../assets/images/st/visual/ci_span_img.png);
}
#About .panel:nth-child(4) .title_text p:nth-child(1):after {
  position: absolute;
  left: 0;
  top: 62px;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #738c9c;
}
#About .panel:nth-child(4) .title_text p:nth-child(2) {
  text-align: left;
}
#About .panel:nth-child(4) .logo_box img {
}
#About .panel:nth-child(4) .logo_box {
}
#About .panel:nth-child(4) .logo_box .kor_logo {
  margin: 30px;
  display: flex;
  align-items: center;
}
#About .panel:nth-child(4) .logo_box .eng_logo {
  margin: 30px;
  display: flex;
  align-items: center;
}
#About .panel:nth-child(4) .CI {
  display: flex;
  flex-direction: column;
}
#About .panel:nth-child(4) .CI p {
  font-size: 24px;
  text-align: left;
  font-weight: 600;
  margin: 30px 0;
}
#About .panel:nth-child(4) .CI img {
  width: 430px;
  height: 46px;
  margin-bottom: 30px;
}
#About .panel:nth-child(4) .bg_article {
  width: 1057px;
  height: 578px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  background: url(./assets/images/visual/bg_article_panel4.png);
}
#About .panel:nth-child(5) .grid_wrap {
  width: 1490px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
#About .panel:nth-child(5) .grid_wrap a {
  width: 280px;
  height: 130px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
#About .panel:nth-child(5) .grid_wrap a:hover {
  background:#ededed;
}
#About .panel:nth-child(5) .grid_wrap a img {
  margin: 0 auto;
}
#About .panel:nth-child(6) .grid_wrap {
  width: 1490px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
#About .panel:nth-child(6) .grid_wrap a {
  width: 280px;
  height: 130px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#About .panel:nth-child(6) .grid_wrap a img {
  margin: 0 auto;
}

#Service .panel:nth-child(1) {
  height: 100vh;
  overflow: hidden;
  background-color: #f1f1f1;
}
#Service .panel:nth-child(1) .txt_img {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 1650px;
  display: flex;
  z-index: 1;
  justify-content: space-between;
}
#Service .panel:nth-child(1) .txt_img span {
  display: block;
}
#Service .panel:nth-child(1) .txt_img span:nth-child(1) {
  width: 151px;
  height: 158px;
  background: url(./assets/images/visual/service_si_text.png);
}
#Service .panel:nth-child(1) .txt_img span:nth-child(2) {
  width: 283px;
  height: 160px;
  background: url(./assets/images/visual/service_sm_text.png);
}
#Service .panel:nth-child(1) .txt_img span:nth-child(3) {
  width: 689px;
  height: 169px;
  background: url(./assets/images/visual/service_solution_text.png);
}
/* #Service .panel:nth-child(1) .sub_text_left {
  position: absolute;
  left: 29%;
  top: 55%;
  transform: translate(-50%, -50%);
}
#Service .panel:nth-child(1) .sub_text_right {
  position: absolute;
  left: 70%;
  top: 65%;
  transform: translate(-50%, -50%);
}
#Service .panel:nth-child(1) .text_box {
  width: 580px;
  text-align: left;
  margin: 80px 0;
}
#Service .panel:nth-child(1) .text_box .title {
  font-size: 20px;
  font-weight: 700;
  margin: 40px 0;
}
#Service .panel:nth-child(1) .text_box .text {
  font-size: 20px;
} */

#Service .bg1 {
  position: absolute;
  left: 93%;
  top: 13%;
  width: 600px;
  transform: translate(-50%, -50%);
}
#Service .panel .title_text p {
  position: absolute;
  left: 270px;
  top: 160px;
  font-size: 76px;
  font-weight: 200;
  text-align: left;
}
#Service .panel .title_text strong {
  font-weight: 500;
}
#Service .panel .sub_text_left {
  position: absolute;
  left: 29%;
  top: 70%;
  transform: translate(-50%, -50%);
}
#Service .panel .sub_text_right {
  position: absolute;
  left: 70%;
  top: 80%;
  transform: translate(-50%, -50%);
}
#Service .panel .text_box {
  width: 580px;
  text-align: left;
  margin-bottom: 60px;
}
#Service .panel .text_box .title {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}
#Service .panel .text_box .text {
  font-size: 16px;
  /* font-weight: 200; */
  font-weight: 400;
}
#Service .card_wrap {
  width: 90%;
  position: absolute;
  left: 270px;
  top: 70%;
  transform: translateY(-50%);
  display: flex;
}
#Service .card {
  width: calc(30% - 20px);
  height: 347px;
  border-radius: 30px;
  border: 1px solid #dddddd;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 40px 0 40px 40px;
  margin-right: 60px;
  box-sizing: border-box;
}
#Service .card img {
  width: 93px;
  height: 93px;
  margin-bottom: 32px;
}
#Service .card .card_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 18px;
}
#Service .card .card_text {
  font-size: 16px;
  /* font-weight: 200; */
  font-weight: 400;
}
#Service .panel:nth-child(5) img {
  position: absolute;
  left: 50%;
  top: 70%;
  width: 815px;
  height: 503px;
  transform: translate(-50%, -50%);
}
.panel .title_text_article {
  position: absolute;
  left: 180px;
  top: 180px;
  font-size: 80px;
  font-weight: 700;
  opacity: 0.1;
  writing-mode: vertical-rl;
}
#Service .panel:nth-child(2) .panel_article1 {
  position: absolute;
  left: 100px;
  top: 700px;
  width: 597px;
  height: 624px;
  background: url(./assets/images/visual/service_page2_article1.png);
}
#Service .panel:nth-child(2) .panel_article2 {
  position: absolute;
  left: 70%;
  top: 0;
  width: 435px;
  height: 454px;
  background: url(./assets/images/visual/service_page2_article2.png);
}
#Service .panel:nth-child(3) .panel_article1 {
  position: absolute;
  left: 100px;
  top: 700px;
  width: 600px;
  height: 600px;
  border-radius: 300px;
  border: 1px solid #e9f1ff;
}
#Service .panel:nth-child(3) .panel_article2 {
  position: absolute;
  left: 10%;
  top: 0;
  width: 435px;
  height: 454px;
  border-radius: 240px;
  border: 1px solid #e9f1ff;
}
#Service .panel:nth-child(3) .panel_article3 {
  position: absolute;
  left: 75%;
  top: 10%;
  width: 335px;
  height: 354px;
  border-radius: 240px;
  z-index: -1;
  border: 1px solid #e9f1ff;
}
#Service .panel:nth-child(3) .panel_article4 {
  position: absolute;
  left: 80%;
  top: 0%;
  width: 435px;
  height: 454px;
  border-radius: 240px;
  z-index: -1;
  border: 1px solid #e9f1ff;
}
#Service .article7{
  position:absolute;
  left: 120px;
  top: 770px;
  width: 235px;
  height: 177px;
  background: url(./assets/images/visual/service_article7.png);
}
#Service .article8{
  position:absolute;
  left: 1500px;
  top: 500px;
  width: 230px;
  height: 230px;
  background: url(./assets/images/visual/service_article8.png);
}
#Service .article9{
  position:absolute;
  left: 1500px;
  top: 100px;
  width: 480px;
  height: 480px;
  background: url(./assets/images/visual/service_article9.png);
}
#Service .article10{
  position:absolute;
  left: 120px;
  top: 770px;
  width: 235px;
  height: 177px;
  background: url(./assets/images/visual/service_article10.png);
}
#Service .article11{
  position:absolute;
  left: 1500px;
  top: 500px;
  width: 230px;
  height: 230px;
  background: url(./assets/images/visual/service_article11.png);
}
#Service .article12{
  position:absolute;
  left: 1500px;
  top: 600px;
  width: 480px;
  height: 480px;
  background: url(./assets/images/visual/service_article12.png);
}
#Solution {
  height: 100vh;
  background: url(./assets/images/bg/system1/soultion_page1_bg.png);
  background-size: contain;
}
#Solution .panel:not(:nth-child(1)) {
  background-color: #fff;
}
#Solution.container {
  width: 500%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}
#Solution .panel .title_text p {
  position: absolute;
  left: 270px;
  top: 160px;
  font-size: 76px;
  font-weight: 200;
  text-align: left;
}
#Solution .panel .title_text .sub_title_text {
  position: absolute;
  left: 270px;
  top: 376px;
  font-size: 22px;
  /* font-weight: 200; */
  font-weight: 300;
}
#Solution .panel .title_text strong {
  font-weight: 5 00;
}

#Solution .solution_card {
  position: absolute;
  left: 10%;
  top: 10%;
  display: flex;
  align-items: flex-end;
  z-index: 2;
  padding: 0 30px;
}
#Solution .solution_card:nth-child(1) {
  left: 8%;
  top: 10%;
}
#Solution .solution_card:nth-child(2) {
  left: 45%;
  top: 36%;
  flex-direction: row-reverse;
}
#Solution .solution_card:nth-child(3) {
  left: 18%;
  top: 60%;
}
#Solution .solution_card h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 245px;
  display: inline-block;
  height: 245px;
}
#Solution .text_box {
  padding: 0 16px;
  text-align: left;
}
#Solution .text_box strong {
  font-family: "SCoreDream", sans-serif;
  font-size: 22px;
  font-weight: 500;
}
#Solution .text_box p {
  font-family: "SCoreDream", sans-serif;
  /* font-weight: 200; */
  font-weight: 400;
}
#Solution .panel:nth-child(2) .solution_card:nth-child(2) .text_box {
  text-align: right;
}
#Solution .panel:nth-child(2) .solution_pattern {
  position: absolute;
  left: 270px;
  top: 70%;
  display: flex;
}
#Solution .panel:nth-child(2) .solution_pattern .card {
  position: relative;
  display: flex;
  padding-left: 224px;
}
#Solution .panel:nth-child(2) .solution_pattern .card:first-child {
  padding: 0;
}
#Solution .panel:nth-child(2) .solution_pattern .card:before {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  content: "";
  background: url(./assets/images/visual/solution_card_plus_article.png);
}
#Solution .panel:nth-child(2) .solution_pattern .card:first-child:before {
  content: none;
}
#Solution .panel:nth-child(2) .solution_pattern .card .card_text_wrap {
  margin-left: 45px;
  text-align: left;
}
#Solution
  .panel:nth-child(2)
  .solution_pattern
  .card
  .card_text_wrap
  .card_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
#Solution
  .panel:nth-child(2)
  .solution_pattern
  .card
  .card_text_wrap
  .card_text {
}
#Solution .panel:nth-child(3) .title_text_article {
  position: absolute;
  left: 50px;
  top: 140px;
  font-size: 220px;
  font-weight: 700;
  opacity: 1;
  color: #edeff5;
  writing-mode: horizontal-tb;
}
#Solution .panel:nth-child(3) .title_text_box {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 1490px;
  display: flex;
  justify-content: space-between;
}
#Solution .panel:nth-child(3) .content_text p:nth-child(1) {
  font-size: 60px;
  font-weight: 700;
}
#Solution .panel:nth-child(3) .content_text p:nth-child(2) {
  font-size: 24px;
  /* font-weight: 200; */
  font-weight: 300;
}
#Solution .panel:nth-child(3) .content_item_wrap {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
#Solution .panel:nth-child(3) .content_item_wrap .items {
  position: relative;
  height: 160px;
  display: table;
}
#Solution .panel:nth-child(3) .content_item_wrap .items::after {
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  border-radius: 6px;
  content: "";
  background-color: #000;
}
#Solution .panel:nth-child(3) .content_item_wrap .items p {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  /* font-weight: 200; */
  font-weight: 300;
}

#Solution .panel:nth-child(4) .solution_card:nth-child(2) .text_box {
  text-align: right;
}
#Solution .panel:nth-child(4) .solution_pattern {
  position: absolute;
  left: 270px;
  top: 60%;
  display: flex;
  width: 90%;
}
#Solution .panel:nth-child(4) .solution_pattern .card {
  position: relative;
  display: flex;
  width: 420px;
  margin-right: 40px;
}
#Solution .panel:nth-child(4) .solution_pattern .card img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}
#Solution .panel:nth-child(4) .solution_pattern .card .card_text_wrap {
  margin-left: 45px;
  text-align: left;
}
#Solution
  .panel:nth-child(4)
  .solution_pattern
  .card
  .card_text_wrap
  .card_title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
#Solution
  .panel:nth-child(4)
  .solution_pattern
  .card
  .card_text_wrap
  .card_text {
}
#Solution .panel:nth-child(5) .title_text_box {
  width: 743px;
  height: 342px;
  border: 1px solid #c8d4f1;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0 170px 170px 0;
}
#Solution .panel:nth-child(5) .title_text_box .title_text {
  padding: 80px 80px;
  font-size: 45px;
  text-align: left;
}

#Solution .panel:nth-child(5) .content_item_wrap {
  position: relative;
  width: 40%;
  height: 70%;
}
#Solution .panel:nth-child(5) .content_item_wrap .item {
  text-align: left;
}
#Solution .panel:nth-child(5) .content_item_wrap .item:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
}
#Solution .panel:nth-child(5) .content_item_wrap .item:nth-child(2) {
  position: absolute;
  left: 45%;
  top: 25%;
}
#Solution .panel:nth-child(5) .content_item_wrap .item:nth-child(3) {
  position: absolute;
  left: 45%;
  top: 50%;
}
#Solution .panel:nth-child(5) .content_item_wrap .item:nth-child(4) {
  position: absolute;
  left: 0;
  bottom: 0;
}
#Solution .panel:nth-child(5) .content_item_wrap .item .descrip {
  font-size: 24px;
  color: #1766fe;
}
#Solution .panel:nth-child(5) .content_item_wrap .item .content_title {
  font-size: 28px;
  font-weight: 500;
}
#Solution .panel:nth-child(5) .content_item_wrap .item .content_text {
  font-size: 20px;
  /* font-weight: 200; */
  font-weight: 300;
}
#Solution .panel:nth-child(5) .replace_text_img {
  position: absolute;
  left: 15%;
  top: 30%;
  transform: translate(-50%, -50%);
}
#Solution .article1 {
  position: absolute;
  left: 1300px;
  top: -300px;
  width: 900px;
  height: 900px;
  opacity: 0.1;
  z-index: -1;
  background: url(./assets/images/visual/solution_article1.png);
}
#Solution .article2 {
  position: absolute;
  left: 1300px;
  top: 100px;
  width: 510px;
  height: 515px;
  opacity: 0.1;
  z-index: -1;
  background: url(./assets/images/visual/solution_article1.png);
  background-size: cover;
}
#Solution .article3 {
  position: absolute;
  left: 100px;
  top: 600px;
  width: 699px;
  height: 699px;
  z-index: -1;
  background: url(./assets/images/visual/solution_article3.png);
  background-size: cover;
  animation: ;
}
#Solution .article4 {
  position: absolute;
  left: 1400px;
  top: -300px;
  width: 699px;
  height: 699px;
  z-index: -1;
  background: url(./assets/images/visual/solution_article3.png);
  background-size: cover;
}
#Experience {
  background-color: #1766fe;
}
/* Recruit */
#Recruit .panel:nth-child(1) {
  background-color: #e5e5e5;
}
#Recruit .panel:nth-child(1) .text_box {
  display: flex;
  flex-direction: column;
}
#Recruit .panel:nth-child(1) .text_box .title p:nth-child(3) {
  position: relative;
  padding-left: 280px;
  margin-bottom: 16px;
}
#Recruit .panel:nth-child(1) .text_box .title span {
  position: absolute;
  left: -110px;
  top: 0;
  width: 367px;
  height: 111px;
  background: url(./assets/images/visual/recruit_text_img.png) no-repeat;
}
#Recruit .panel:nth-child(1) .text_box .title {
  text-align: left;
  display: inline-block;
  font-size: 60px;
  font-weight: 900;
}
#Recruit .panel:nth-child(1) .text_box .sub_title {
  text-align: left;
}
#Recruit .panel:nth-child(1) .text_box .sub_title .text {
  margin-bottom: 30px;
}
#Recruit .panel:nth-child(1) .text_box .sub_title a {
  position: relative;
  display: block;
  width: 250px;
  height: 54px;
  border-radius: 2px;
  text-align: left;
  line-height: 54px;
  border: 1px solid #000;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 0 0 0 16px;
}
#Recruit .panel:nth-child(1) .recruit_contact li p:first-child {
  font-weight: 500;
}
#canvas{
  position: absolute;
  bottom: 0;
  left: 250px;
  z-index: -1;

}
/* Text Content */
.accordion .item .text {
  background-color: #d9d9d9;
}
/* Text Content - Class for JS to hide and show */
.contact_inquiry {
  bottom: 0;
  background: url(./assets/images/bg/system1/contact_bg.png) no-repeat;
  background-position: right bottom;
}
.map-api {
  z-index: -1;
}
.input_checkbox {
  font-size: 16px;
  padding: 10px 0 10px 160px;
  margin-bottom: 35px;
  display: flex;
}
.input_checkbox label {
  cursor: pointer;
}
.grid_wrap {
  width: 880px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(48px, auto);
  padding-left: 60px;
}
.submit_btn {
  width: 500px;
  height: 64px;
  border: 1px solid #666;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 20px;
  font-family: "SCoreDream";
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}
.input_box {
  display: flex;
}
.input_box button {
  width: 110px;
  margin-left: 10px;
  background-color: #fff;
  font-size: 16px;
  font-family: "SCoreDream";
  border: 1px solid #000;
  border-radius: 4px;
}
.input_box p {
  flex-shrink: 0;
  width: 100px;
  text-align: left;
  line-height: 50px;
  font-weight: 500;
}
.input_text {
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid #dadada;
  font-size: 16px;
  padding: 0 10px;
}
.box1 {
  grid-column: 1/2;
  grid-row: 1;
}
.box2 {
  grid-column: 2/2;
  grid-row: 1;
}
.box3 {
  grid-column: 1/2;
  grid-row: 2;
}
.box4 {
  grid-column: 2/3;
  grid-row: 2;
}
.box5 {
  grid-column: 1/3;
  grid-row: 3;
}
.box6 {
  grid-column: 1/3;
  grid-row: 4/8;
}
.box7 {
  grid-column: 1/3;
}
footer {
  width: 100vw;
  height: 200px;
  background-color: #454545;
}
.footer_wrap {
  padding: 85px 5% 0;
  display: flex;
}
.footer_logo {
  width: 200px;
  height: 45px;
  background: url(./assets/images/logo_white_system.png);
}
.adress {
  padding-top: 15px;
  font-weight: 100;
  font-size: 15px;
  color: #fff;
}
/*07-11 추가*/
#About .panel:nth-child(7) .content_wrap{
  width: 1490px;
  display: flex;
  flex-direction: column;  
}
#About .panel:nth-child(7) .card_wrap{
  height: 482px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 64px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
}
#About .panel:nth-child(7) .card{
  position: relative;
  width: 341px;
  height: 400px;
  border: 3px solid #dddddd;
  box-sizing: border-box;
  border-radius: 30px 0 30px 0;
  text-align: left; 
  transition: all .5s;
}
#About .panel:nth-child(7) .card:hover{
  width: 340px;
  height: 531px;
  border: 3px solid #0072ff;
  box-sizing: border-box;
  border-radius: 30px 0 30px 0;
  color: #0072ff;
  transition: all .5s;
}
#About .panel:nth-child(7) .card .card_text_box{
  padding: 75px 70px 50px 56px;
}
#About .panel:nth-child(7) .card .card_date{
  font-size: 12px;
  margin-bottom: 48px;
}
#About .panel:nth-child(7) .title_text_article{
  left: 140px;
}
#About .panel:nth-child(7) .card .card_title{
  height: 90px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 111px;
}
#About .panel:nth-child(7) .card .card_more{
  position: relative;
  font-size: 12px; 
}
#About .panel:nth-child(7) .card .card_more::before{
  position: absolute;
  left: 10px;
  top: -43px;
  width: 291px;
  height: 3px;
  background-color: #dddddd;
  transition: all .5s;
  content: "";
}
#About .panel:nth-child(7) .card:hover .card_more::before{
  background-color: #0072ff;
  transition: all .5s;
}
#About .panel:nth-child(7) .card .card_more::after{
  position: absolute;
  left: 70px;
  top: 60%;
  transform: translate(-50%,-50%);
  content: "";
  width: 10px;
  height: 10px;
  background: url(./assets/images/visual/About_page7_btn_icon.png);
  transition: all .5s;
}
#About .panel:nth-child(7) .card:hover .card_more::after{
  transition: all .5s;
  background: url(./assets/images/visual/About_page7_btn_icon_blue.png);
}
#About .panel:nth-child(7) .pagination{
  display: flex;
  align-items: center;
  justify-content: center
}
#About .panel:nth-child(7) .pages{
  margin: 0 30px;
}
#About .panel:nth-child(7) .pages a{
  padding: 0 4px;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
}
#About .panel:nth-child(7) .pagination .previous_btn{
  width: 9px;
  height: 14px;
  background: url(./assets/images/visual/About_page7_page_btn_left.png);
}
#About .panel:nth-child(7) .pagination .next_btn{
  width: 9px;
  height: 14px;
  background: url(./assets/images/visual/About_page7_page_btn_right.png);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}
/*07-11 추가*/
.top_btn {
  position: fixed;
  bottom: 8%;
  right: 3%;
  z-index: 300;
}
.top_btn a {
  display: block;
  position: relative;
  width: 44px;
  /* height: 100%; */
  text-align: center;
  color: #000;
  text-transform: uppercase;
}
.top_btn a:before {
  content: "";
  display: block;
  width: 44px;
  height: 53px;
  background: url(../assets/images/st/visual/topbtn_st.png) no-repeat;
  background-size: 105%;
  background-position: 0 0;
  padding-bottom: 10px;
}
/*07-14 추가*/

/*07-18 modal 추가*/
.modal-layer {
  display: none;
  /* background: rgba(0,0,0,0.7); */
  background: url(../assets/images/common/modal_bg.jpg) no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: auto;
}

.modal-dimm {
  inset: 0;
  display: flex;
  margin: auto;
  z-index: 3;
}

.modal {
  position: relative;
  
  top: 100px;
  display: flex;
  max-width: 1040px;
  flex-direction: column;  
  aspect-ratio: 6/4;
  margin: auto;
  margin-bottom: 150px;
  background-color: #ffffff;
}
.topCont {
  min-height: 580px;
  display: flex;
}
.topCont .txtCont {
  width: 350px;
  height: 100%;
  padding: 75px 30px 0;
}
.topCont .txtCont dl {
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
  margin-top: 24px;
}
.topCont .txtCont dl dt {  
  float: left;
  width: 70px;
  text-align: left;
  color: #333;
  font-weight: 500;
  line-height: 15px;  
  font-size: 14px;
}
.topCont .txtCont dl dd {
  color: #999;
  line-height: 15px;
  font-size: 13px;
  margin-bottom: 20px;
}
.topCont .txtCont > .overview {
  padding: 40px 0;
}
.topCont .txtCont > .overview h4 {
  background: #333;
  color: #fff;
  font-weight: 300;
  letter-spacing: 6px;
  padding: 2px 10px 4px;
  font-size: 16px;
  line-height: 16px;
}
.topCont .txtCont > .overview p {
  font-size: 13.5px;
  color: #666;
  text-align: left;
  padding: 15px 0;
  word-break: keep-all;  
  line-height: 26px;
}
.topCont .imgCont {
  width: calc(100% - 350px);
  max-width: 670px;
  height: 100%;
  overflow: hidden;
}
.topCont .txtCont h3 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  color: #333;
  word-break: keep-all;
}
.bottomCont img {
  max-width: 100%;
}
.modal-show{
}

.modal-hide {
  position: absolute;
  right: 0;
  top: -50px;
  font-size: 20px;
  padding: 4px 10px;
  border-radius: 8px;
  cursor: pointer;
}
/*07-18 modal 추가*/
#canvas {
  cursor: pointer;
}